aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==22.1.0
CacheControl==0.12.11
cachetools==5.2.0
cbor2==5.4.3
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
firebase-admin==5.4.0
Flask==2.2.2
frozenlist==1.3.1
google-api-core==2.10.1
google-api-python-client==2.63.0
google-auth==2.12.0
google-auth-httplib2==0.1.0
google-cloud-core==2.3.2
google-cloud-firestore==2.7.0
google-cloud-storage==2.5.0
google-crc32c==1.5.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.4
grpcio==1.49.1
grpcio-status==1.49.1
gunicorn==20.1.0
httplib2==0.20.4
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.0
MarkupSafe==2.1.1
msgpack==1.0.4
multidict==6.0.2
nltk==3.7
numpy==1.23.3
pandas==1.5.0
proto-plus==1.22.1
protobuf==4.21.6
pubnub==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodomex==3.15.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.4
regex==2022.8.17
requests==2.28.1
rsa==4.9
six==1.16.0
tqdm==4.64.1
uritemplate==4.1.1
urllib3==1.26.12
Werkzeug==2.2.2
yarl==1.8.1
